<div class="psychology__wrapper">
  <div class="psychology">
    <div class="psychology__heading">
      <div class="psychology__content">
        <h2 class="psychology__title">Психиатрического освидетельствование</h2>
        <div class="psychology__tags-wrapper">
          <div class="tag__item">Работы в опасных условиях</div>
          <div class="tag__item">Пассажирские перевозки</div>
          <div class="tag__item">Медицинская деятельность</div>
          <div class="tag__item">Работа с детьми</div>
          <div class="tag__item">Обращение с оружием</div>
        </div>
        <div class="main__button">Записаться на прием</div>
      </div>
      <div class="psychology__img">
        <img src="assets/imgs/service-main.png" />
      </div>
    </div>
    <div class="price__section">
      <div class="price__title">
        <div class="title-dot"></div>
        Подробнее о услуге:
      </div>
      <div class="price__content">
        <div class="content__left">
          <div class="price__tags-wrapper">
            <div class="tag__item-blue">
              <img src="assets/icons/time.png" />от 1 дня
            </div>
            <div class="tag__item-blue">
              <img src="assets/icons/card.png" />Оплата картой через терминал
            </div>
            <div class="tag__item-blue">
              <img src="assets/icons/cash.png" />Оплата наличными
            </div>
            <div class="tag__item-blue">
              <img src="assets/icons/cash.png" /> 1500 рублей
            </div>
          </div>
          <p>
            Обязательное психиатрическое освидетельствование работников,
            осуществляющих отдельные виды деятельности, в том числе
            деятельность, связанную с источниками повышенной опасности (с
            влиянием вредных веществ и неблагоприятных производственных
            факторов), а так же работающих в условиях повышенной опасности,
            врачебной комиссией (с выполнением электроэнцефалографии). Принимаем
            только по направлению от работодателя.
          </p>
        </div>
        <div class="content__right">
          <div class="price__download-title">Полный прайс лист</div>
          <a href="#" target="_blank" download
            >Скачать<img src="assets/buttons/btn-download.svg" alt=""
          /></a>
          <img src="assets/icons/arrow-button-dark.png" />
        </div>
      </div>
      <div class="price__title">
        <div class="title-dot"></div>
        Цены на осмотры:
      </div>
      <div class="price__table">
        <p-table
          [value]="price"
          [tableStyle]="{ 'min-width': '50rem' }"
          [paginator]="true"
          [rows]="10"
        >
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="serviceName">
                Услуга: <p-sortIcon field="serviceName"></p-sortIcon>
              </th>
              <th>Цена:</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-price>
            <tr>
              <td>{{ price.serviceName }}</td>
              <td>{{ price.price }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <app-services></app-services>
  </div>
</div>
