<div class="medical__checkup__wrapper">
  <div class="medical__checkup">
    <div class="medical__checkup__heading">
      <div class="medical__checkup__content">
        <h2 class="medical__checkup__title">
          Профилактический медицинский осмотр
        </h2>
        <div class="medical__checkup__tags-wrapper">
          <div class="tag__item">Для физических лиц</div>
          <div class="tag__item">Для юридических лиц</div>
          <div class="tag__item">Предварительные осмотры</div>
          <div class="tag__item">Переодические осмотры</div>
          <div class="tag__item">Психиатрия</div>
        </div>
        <div class="main__button" routerLink="/contacts">
          Записаться на прием
        </div>
      </div>
      <div class="medical__checkup__img">
        <img src="assets/imgs/service-main.png" />
      </div>
    </div>
    <div class="price__section">
      <div class="price__title">
        <div class="title-dot"></div>
        Подробнее о услуге:
      </div>
      <div class="price__content">
        <div class="content__left">
          <div class="price__tags-wrapper">
            <div class="tag__item-blue">
              <img src="assets/icons/time.png" />от 1 дня
            </div>
            <div class="tag__item-blue">
              <img src="assets/icons/card.png" />Оплата картой через терминал
            </div>
            <div class="tag__item-blue">
              <img src="assets/icons/cash.png" />Оплата наличными
            </div>
            <div class="tag__item-blue">
              <img src="assets/icons/cash.png" />от 1500 рублей
            </div>
          </div>
          <p>
            Профилактический медицинский осмотр – это комплекс медицинских
            обследований, проводимый в целях раннего (своевременного) выявления
            состояний, заболеваний и факторов риска их развития, а также в целях
            определения групп здоровья и выработки рекомендаций для пациентов.
          </p>
        </div>
        <div class="content__right">
          <div class="price__download-title">Полный прайс лист</div>
          <a routerLink="/price" target="_blank"
            >Смотреть<img src="assets/buttons/btn-download.svg" alt=""
          /></a>
          <img src="assets/icons/arrow-button-dark.png" />
        </div>
      </div>
      <div class="price__title">
        <div class="title-dot"></div>
        Цены на осмотры:
      </div>
      <div class="price__table">
        <p-table
          [value]="price"
          [tableStyle]="{ 'min-width': '50rem' }"
          [paginator]="true"
          [rows]="10"
        >
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="serviceName">
                Услуга: <p-sortIcon field="serviceName"></p-sortIcon>
              </th>
              <th>Цена:</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-price>
            <tr>
              <td>{{ price.serviceName }}</td>
              <td>{{ price.price }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <app-services></app-services>
  </div>
</div>
