<div class="mini__wrapper">
  <div class="mini">
    <div class="mini__title">
      <div class="title-dot"></div>
      Хотите записаться? Позвоните нам!
    </div>
    <p>
      Ждем Вас!
      <br />
      Пн-Пт 9:00 до 19:00, Суббота: Выходной , Воскресенье: Выходной
    </p>
    <a class="add__info-item" href="tel:+79257410003">
      <img src="assets/icons/phone.png" />Для Юр.Лиц: 8(925)741-00-03
    </a>
    <a class="add__info-item" href="tel:+74953104318">
      <img src="assets/icons/phone.png" />Регистратура: 8(495)310-43-18
    </a>
    <a class="add__info-item" href="tel:+74953104309">
      <img src="assets/icons/phone.png" />Регистратура: 8(495)310-43-09
    </a>
  </div>
</div>
