<div class="contacts__wrapper">
  <div class="contacts">
    <div class="contacts__info">
      <div class="contacts__title">
        <div class="title-dot"></div>
        Контакты
      </div>
      <div class="contacts__add-info">
        <div class="add__info-item">
          <img src="assets/icons/metro.svg" /> Кантемировская
        </div>
        <div class="add__info-item">
          <img src="assets/icons/metro.svg" /> Кантемировская
        </div>
        <div class="add__info-item">
          <img src="assets/icons/metro.svg" /> Кантемировская
        </div>
        <div class="add__info-item">
          <img src="assets/icons/mail.svg" /> infowebsite.ru
        </div>
        <div class="add__info-item">
          <img src="assets/icons/phone.png" /> Кантемировская
        </div>
      </div>
      <div class="contacts__time">
        <img src="assets/icons/time.png" /> 09:00 - 22:00
      </div>
      <div class="contacts__social-links">
        <div class="link-item"></div>
        <div class="link-item"></div>
        <div class="link-item"></div>
        <div class="link-item"></div>
      </div>
    </div>
    <div class="contacts__map">
      <div style="position: relative; overflow: hidden">
        <a
          href="https://yandex.com/maps/org/klinika_nevrologii_i_ortopedii_zdravklinik/1172375731/?utm_medium=mapframe&utm_source=maps"
          style="color: #eee; font-size: 12px; position: absolute; top: 0px"
          >Клиника неврологии и ортопедии ЗдравКлиник</a
        ><a
          href="https://yandex.com/maps/213/moscow/category/medical_center_clinic/184106108/?utm_medium=mapframe&utm_source=maps"
          style="color: #eee; font-size: 12px; position: absolute; top: 14px"
          >Медцентр, клиника в Москве</a
        ><a
          href="https://yandex.com/maps/213/moscow/category/polyclinic_for_adults/184106014/?utm_medium=mapframe&utm_source=maps"
          style="color: #eee; font-size: 12px; position: absolute; top: 28px"
          >Поликлиника для взрослых в Москве</a
        ><iframe
          src="https://yandex.com/map-widget/v1/?display-text=%D0%9C%D0%B5%D0%B4%D1%86%D0%B5%D0%BD%D1%82%D1%80%2C%20%D0%BA%D0%BB%D0%B8%D0%BD%D0%B8%D0%BA%D0%B0&ll=37.474145%2C55.675584&mode=search&oid=1172375731&ol=biz&sll=37.446043%2C55.675584&sspn=0.045922%2C0.024482&text=%7B%22text%22%3A%22%D0%9C%D0%B5%D0%B4%D1%86%D0%B5%D0%BD%D1%82%D1%80%2C%20%D0%BA%D0%BB%D0%B8%D0%BD%D0%B8%D0%BA%D0%B0%22%2C%22what%22%3A%5B%7B%22attr_name%22%3A%22category_id%22%2C%22attr_values%22%3A%5B%22184106108%22%5D%7D%5D%7D&z=13.23"
          width="760"
          height="400"
          frameborder="1"
          allowfullscreen="true"
          style="position: relative"
        ></iframe>
      </div>
    </div>
  </div>
</div>
