<div class="contacts__wrapper">
  <div class="contacts">
    <div class="contacts__info">
      <div class="contacts__title">
        <div class="title-dot"></div>
        Контакты
      </div>
      <div class="contacts__add-info">
        <div class="add__info-item">
          <img src="assets/icons/metro.svg" /> Севастопольская
        </div>
        <div class="add__info-item">
          <img src="assets/icons/metro.svg" /> Каховская
        </div>
        <div class="add__info-item">
          <img src="assets/icons/mail.svg" /> на оформлении
        </div>
        <a class="add__info-item" href="tel:+79257410003">
          <img src="assets/icons/phone.png" />Организациям: 8(925)741-00-03
        </a>
        <a class="add__info-item" href="tel:+74955426017">
          <img src="assets/icons/phone.png" />Организациям: 8(495)542-60-17
        </a>

        <a class="add__info-item" href="tel:+74953104318">
          <img src="assets/icons/phone.png" />Регистратура: 8(495)310-43-18
        </a>
        <a class="add__info-item" href="tel:+74953104309">
          <img src="assets/icons/phone.png" />Регистратура: 8(495)310-43-09
        </a>
      </div>
      <div class="contacts__time">
        <img src="assets/icons/time.png" /> 09:00 - 19:00
      </div>
      <div class="contacts__time">
        Москва. Симферопольский бульвар д.24 корп.5
      </div>
      <div class="contacts__social-links">
        <div class="link-item"></div>
        <div class="link-item"></div>
        <div class="link-item"></div>
        <div class="link-item"></div>
      </div>
    </div>
    <div class="contacts__map">
      <div style="position: relative; overflow: hidden">
        <a
          href="https://yandex.com/maps/org/ambulatoriya/1125296924/?utm_medium=mapframe&utm_source=maps"
          style="color: #eee; font-size: 12px; position: absolute; top: 0px"
          >Амбулатория</a
        ><a
          href="https://yandex.com/maps/213/moscow/category/medical_center_clinic/184106108/?utm_medium=mapframe&utm_source=maps"
          style="color: #eee; font-size: 12px; position: absolute; top: 14px"
          >Медцентр, клиника в Москве</a
        ><iframe
          src="https://yandex.com/map-widget/v1/?from=mapframe&ll=37.603013%2C55.647931&mode=poi&poi%5Bpoint%5D=37.602778%2C55.647914&poi%5Buri%5D=ymapsbm1%3A%2F%2Forg%3Foid%3D1125296924&z=17"
          width="560"
          height="400"
          frameborder="1"
          allowfullscreen="true"
          style="position: relative"
        ></iframe>
      </div>
    </div>
  </div>
</div>
