<div class="medical__checkup__wrapper">
  <div class="medical__checkup">
    <div class="medical__checkup__heading">
      <div class="medical__checkup__content">
        <h2 class="medical__checkup__title">
          Организация медпунктов на предприятиях. Врач в Офис. Медицинские
          услуги для бизнеса.
        </h2>
        <div class="medical__checkup__tags-wrapper">
          <div class="tag__item">Для юридических лиц</div>
          <div class="tag__item">Вакцинации</div>
          <div class="tag__item">Ведение и учет медицинской документации</div>
          <div class="tag__item">Первая помощь</div>
        </div>
        <div class="main__button">Связаться с нами</div>
      </div>
      <div class="medical__checkup__img">
        <img src="assets/imgs/service-main.png" />
      </div>
    </div>
    <div class="price__section">
      <div class="price__title">
        <div class="title-dot"></div>
        Подробнее о услуге:
      </div>
      <div class="price__content">
        <div class="content__left">
          <div class="price__tags-wrapper">
            <div class="tag__item-blue">
              Медпункты помогут Вашему предприятию в заботе о сотрудниках.
              Своевременная реакция медработников и профилактические процедуры
              помогут Вашим сотрудникам избежать проблем со здоровьем.
            </div>
          </div>
          <p>
            В медицинском пункте возможно оказание плановой и неотложной
            врачебной или фельдшерской помощи сотрудникам предприятия. Помимо
            этого на базе организованного здравпункта возможно проведение
            предрейсовых и послерейсовых медицинских осмотров водителей
            транспортных средств Вашего предприятия, проведение инструктажей
            сотрудников о первой медицинской помощи, проведение лечебно -
            профилактических манипуляций, назначенных врачом.
          </p>
        </div>
        <div class="content__right">
          <div class="price__download-title">Полный прайс лист</div>
          <a href="#" target="_blank" download
            >Скачать<img src="assets/buttons/btn-download.svg" alt=""
          /></a>
          <img src="assets/icons/arrow-button-dark.png" />
        </div>
      </div>
    </div>
    <app-services></app-services>
  </div>
</div>
