<div class="info__wrapper">
  <div class="info__title">
    <div class="title-dot"></div>
    Полезная информация
  </div>
  <div class="info">
    <p-accordion [activeIndex]="0">
      <p-accordionTab header="Полное наименование:">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </p-accordionTab>
      <p-accordionTab header="Номера телефонов справочных служб: система-112">
        <p>
          Это система обеспечения вызова экстренных оперативных служб по единому
          номеру «112» на территории России, организованная по принципу «одного
          окна»: на звонок отвечает оператор, способный с помощью специального
          программного обеспечения отправить на место вызова любую помощь -
          пожарных, медиков, сотрудников полиции.
        </p>
      </p-accordionTab>
      <p-accordionTab header="Другая информация">
        <p>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui
          blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
          et quas molestias excepturi sint occaecati cupiditate non provident,
          similique sunt in culpa qui officia deserunt mollitia animi, id est
          laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
          distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
          cumque nihil impedit quo minus.
        </p>
      </p-accordionTab>
    </p-accordion>
  </div>
</div>
