<div class="info__wrapper">
  <div class="info__title">
    <div class="title-dot"></div>
    Отзывы
  </div>
  <div
    style="width: 740px; height: 400px; overflow: hidden; position: relative"
  >
    <iframe
      style="
        width: 100%;
        height: 100%;
        border: 1px solid #e6e6e6;
        border-radius: 8px;
        box-sizing: border-box;
      "
      src="https://yandex.ru/maps-reviews-widget/1125296924?comments"
    ></iframe
    ><a
      href="https://yandex.com/maps/org/ambulatoriya/1125296924/"
      target="_blank"
      style="
        box-sizing: border-box;
        text-decoration: none;
        color: #b3b3b3;
        font-size: 10px;
        font-family: YS Text, sans-serif;
        padding: 0 20px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
        left: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        max-height: 14px;
        white-space: nowrap;
        padding: 0 16px;
        box-sizing: border-box;
      "
      >Амбулатория на карте Москвы — Яндекс Карты</a
    >
  </div>
  <div class="info__title">
    <div class="title-dot"></div>
    Полезная информация
  </div>
  <div class="info">
    <p-accordion [activeIndex]="0">
      <p-accordionTab header="Кто обязательно проходит медосмотр?">
        <ul>
          <li>
            Несовершеннолетние. Школьники и воспитанники дошкольных учреждений
            проходят медосмотр раз в год в соответствии с обязательной
            программой посещения определенных специалистов.
          </li>
          <li>
            Специалисты, занятые на тяжелых работах, или участвующие в
            производствах, связанных с опасными и вредными веществами. Перечень
            работ также устанавливается Приказом Минздравсоцразвития.
          </li>
          <li>
            Работники, привлеченные на предприятия Крайнего Севера и
            приравненные к ним по условиям труда местности.
          </li>
          <li>
            Водители общественных транспортных средств и транспорта организаций.
            В отличие от прочих категорий граждан, водители обязаны проходить
            медосмотр перед каждым рейсом.
          </li>
          <li>Профессиональные спортсмены.</li>
          <li>Офисные работники при работе за компьютером.</li>
        </ul>
      </p-accordionTab>
      <p-accordionTab header="Номера телефонов справочных служб: система-112">
        <p>
          Это система обеспечения вызова экстренных оперативных служб по единому
          номеру «112» на территории России, организованная по принципу «одного
          окна»: на звонок отвечает оператор, способный с помощью специального
          программного обеспечения отправить на место вызова любую помощь -
          пожарных, медиков, сотрудников полиции.
        </p>
      </p-accordionTab>
    </p-accordion>
  </div>
</div>
