<div class="services__wrapper">
  <div class="services__title">
    <div class="title-dot"></div>
    Наши услуги
  </div>
  <p-tabView>
    <p-tabPanel header="Для Физических лиц">
      <div class="services">
        <a class="services__item" routerLink="/medical-checkup">
          <div class="services__item-title">Водительская комиссия</div>
          <img class="services__item-img" src="assets/imgs/service01.png" />
        </a>
        <a class="services__item" routerLink="/medical-books">
          <div class="services__item-title">Медицинские книжки</div>
          <img class="services__item-img" src="assets/imgs/service02.png" />
        </a>
        <a class="services__item" routerLink="/prof-osmotr">
          <div class="services__item-title">Профосмотры</div>
          <img class="services__item-img" src="assets/imgs/service07.png" />
        </a>
        <a class="services__item" routerLink="/certificates">
          <div class="services__item-title">Справки, выписки</div>
          <img class="services__item-img" src="assets/imgs/service04.png" />
        </a>
        <a class="services__item" routerLink="/psychology">
          <div class="services__item-title">Психиатрия</div>
          <img class="services__item-img" src="assets/imgs/service05.png" />
        </a>
        <a class="services__item" routerLink="/medical-clinic">
          <div class="services__item-title">Медпункт</div>
          <img class="services__item-img" src="assets/imgs/service06.png" />
        </a>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Для Юридических лиц"
      ><div class="services">
        <a class="services__item" routerLink="/prof-osmotr">
          <div class="services__item-title">Профосмотры</div>
          <img class="services__item-img" src="assets/imgs/service07.png" />
        </a>
        <a class="services__item" routerLink="/certificates">
          <div class="services__item-title">Справки, выписки</div>
          <img class="services__item-img" src="assets/imgs/service04.png" />
        </a>

        <a class="services__item" routerLink="/psychology">
          <div class="services__item-title">Психиатрия</div>
          <img class="services__item-img" src="assets/imgs/service05.png" />
        </a>
        <a class="services__item" routerLink="/medical-clinic">
          <div class="services__item-title">Медпункт</div>
          <img class="services__item-img" src="assets/imgs/service06.png" />
        </a>
        <a class="services__item" routerLink="/medical-clinic">
          <div class="services__item-title">Анализы</div>
          <img class="services__item-img" src="assets/imgs/service03.png" />
        </a>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>
