<div class="services__wrapper">
  <div class="services__title">
    <div class="title-dot"></div>
    Наши услуги
  </div>
  <p-tabView>
    <p-tabPanel header="Для Физических лиц">
      <div class="services">
        <div class="services__item">
          <div class="services__item-title">Водительская комиссия</div>
          <img class="services__item-img" src="assets/imgs/service01.png" />
        </div>
        <div class="services__item">
          <div class="services__item-title">Медицинские книжки</div>
          <img class="services__item-img" src="assets/imgs/service02.png" />
        </div>
        <div class="services__item">
          <div class="services__item-title">Лабораторная диагностика</div>
          <img class="services__item-img" src="assets/imgs/service03.png" />
        </div>
        <div class="services__item">
          <div class="services__item-title">Справки, выписки</div>
          <img class="services__item-img" src="assets/imgs/service04.png" />
        </div>
        <div class="services__item">
          <div class="services__item-title">УЗИ</div>
          <img class="services__item-img" src="assets/imgs/service05.png" />
        </div>
        <div class="services__item">
          <div class="services__item-title">Ведение беременности</div>
          <img class="services__item-img" src="assets/imgs/service06.png" />
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Для Юридических лиц"
      ><div class="services">
        <div class="services__item">
          <div class="services__item-title">Водительская комиссия</div>
          <img class="services__item-img" src="assets/imgs/service01.png" />
        </div>
        <div class="services__item">
          <div class="services__item-title">Медицинские книжки</div>
          <img class="services__item-img" src="assets/imgs/service02.png" />
        </div>
        <div class="services__item">
          <div class="services__item-title">Водительская комиссия</div>
          <img class="services__item-img" src="assets/imgs/service03.png" />
        </div>
        <div class="services__item">
          <div class="services__item-title">Водительская комиссия</div>
          <img class="services__item-img" src="assets/imgs/service04.png" />
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>
