<div class="header__wrapper">
  <div class="header">
    <div class="header__logo">
      <img src="assets/imgs/logo.png" routerLink="/" />
    </div>
    <div class="header__address-wrapper">
      <div class="header__address-title">
        <img src="assets/icons/geo.png" />Адрес
      </div>
      <div class="header__address-item">
        Москва. Симферопольский бульвар д.24 корп.5
      </div>
    </div>
    <div class="header__time-wrapper">
      <div class="header__time-title">
        <img src="assets/icons/time.png" />Время работы
      </div>
      <div class="header__time-item">Пн-Пт 9:00 до 19:00</div>
      <div class="header__time-item">Суббота: Выходной</div>
      <div class="header__time-item">Воскресенье: Выходной</div>
    </div>
    <div class="header__phone-wrapper">
      <a class="header__phone-item" href="tel:+74953104309">8(495)310-43-09</a>
      <a class="header__phone-item" href="tel:+74953104318">8(495)310-43-18</a>
    </div>
  </div>
  <div class="header__navigation">
    <p-menubar [model]="items"></p-menubar>
  </div>
</div>
