<div class="header__wrapper">
  <div class="header">
    <div class="header__logo"><img src="assets/imgs/logo.png" /></div>
    <div class="header__address-wrapper">
      <div class="header__address-title">
        <img src="assets/icons/geo.png" />Адрес
      </div>
      <div class="header__address-item">
        г. Москва, ул. Октябрьской революции д. 161
      </div>
    </div>
    <div class="header__time-wrapper">
      <div class="header__time-title">
        <img src="assets/icons/time.png" />Время работы
      </div>
      <div class="header__time-item">Пн-Вс 9:00 до 21:00</div>
    </div>
    <div class="header__phone-wrapper">
      <div class="header__phone-item">+7 (496) 614-99-99</div>
      <div class="header__phone-item">+7 (496) 614-99-99</div>
    </div>
  </div>
  <div class="header__navigation">
    <div class="header__nav-item">Главная</div>
    <div class="header__nav-item">Услуги</div>
    <div class="header__nav-item">Анализы</div>
    <div class="header__nav-item">Профосмотры</div>
    <div class="header__nav-item">Организациям</div>
    <div class="header__nav-item">О нас</div>
    <div class="header__nav-item">Контакты</div>
  </div>
</div>
