<div class="hero__wrapper">
  <div class="hero">
    <div class="hero__main-banner">
      <div class="hero__main-title">
        Московскийклинико-диагностический центр!
      </div>
      <div class="hero__main-subtitle">
        Оформление, продление и аттестация личных медицинских книжек
        <br />
        Внесение данных медосмотра в электронную систему
        <br />
        Взаимодействие с центром профпатологии и Роспотребнадзором

        <img src="assets/icons/arrow-button-white.png" />
      </div>
    </div>
    <div class="hero__secondary-banner">
      <div class="hero__secondary-title">Экспресс диагностика</div>
      <div class="hero__secondary-subtitle">
        Экспресс-диагностика за 60 минут!
        <img src="assets/icons/arrow-button-dark.png" />
      </div>
    </div>
  </div>
</div>
