<div class="consultant__wrapper">
  <div class="consultant">
    <div class="consult__heading">
      <div class="consult__content">
        <h2 class="consult__title">Консультация врачей специалистов</h2>
        <div class="consult__tags-wrapper">
          <div class="tag__item">Офтальмолог</div>
          <div class="tag__item">Акушер-Гинеколог</div>
          <div class="tag__item">Оториноларинголог</div>
          <div class="tag__item">Психиатр-Нарколог</div>
          <div class="tag__item">Терапевт</div>
          <div class="tag__item">Психиатр</div>
        </div>
        <div class="main__button">Записаться на прием</div>
      </div>
      <div class="consult__img"><img src="assets/imgs/service-main.png" /></div>
    </div>
    <div class="price__section">
      <div class="price__title">
        <div class="title-dot"></div>
        Стоимость консультации:
      </div>
      <div class="price__content">
        <div class="content__left">
          <div class="price__tags-wrapper">
            <div class="tag__item-blue">
              <img src="assets/icons/time.png" />от 30 минут
            </div>
            <div class="tag__item-blue">
              <img src="assets/icons/time.png" />Оплата картой через терминал
            </div>
            <div class="tag__item-blue">
              <img src="assets/icons/time.png" />Оплата наличными
            </div>
            <div class="tag__item-blue">
              <img src="assets/icons/time.png" />от 900 рублей
            </div>
          </div>
          <img src="assets/icons/arrow-button-white.png" />
        </div>
      </div>
    </div>
  </div>
</div>
