<div class="certificateant__wrapper">
  <div class="certificateant">
    <div class="certificate__heading">
      <div class="certificate__content">
        <h2 class="certificate__title">Медицинские справки</h2>
        <div class="certificate__tags-wrapper">
          <div class="tag__item">Доступ к гостайне</div>
          <div class="tag__item">Для спорта</div>
          <div class="tag__item">Для бассейна</div>
          <div class="tag__item">Для учебы</div>
          <div class="tag__item">Для госслужбы</div>
        </div>
        <div class="main__button">Записаться на прием</div>
      </div>
      <div class="certificate__img">
        <img src="assets/imgs/service-main.png" />
      </div>
    </div>
    <div class="price__section">
      <div class="price__title">
        <div class="title-dot"></div>
        Подробнее о услуге:
      </div>
      <div class="price__content">
        <div class="content__left">
          <div class="price__tags-wrapper">
            <div class="tag__item-blue">
              <img src="assets/icons/time.png" />от 15 минут
            </div>
            <div class="tag__item-blue">
              <img src="assets/icons/card.png" />Оплата картой через терминал
            </div>
            <div class="tag__item-blue">
              <img src="assets/icons/cash.png" />Оплата наличными
            </div>
            <div class="tag__item-blue">
              <img src="assets/icons/cash.png" />от 600 рублей
            </div>
          </div>
          <p>
            У нас быстро и в комфортных условиях можно: <br />
            - Пройти врачебную комиссию для ГИБДД<br />
            - Получить заключение врачей для справки 086-у<br />
            - Пройти медосмотр для оформления справки в бассейн
          </p>
          <img src="assets/icons/arrow-button-white.png" class="arrow" />
        </div>
        <div class="content__right">
          <div class="price__download-title">Полный прайс лист</div>
          <a href="#" target="_blank" download
            >Скачать<img src="assets/buttons/btn-download.svg" alt=""
          /></a>
          <img src="assets/icons/arrow-button-dark.png" />
        </div>
      </div>
      <div class="price__title">
        <div class="title-dot"></div>
        Цены на услуги:
      </div>
      <div class="price__table">
        <p-table
          [value]="price"
          [tableStyle]="{ 'min-width': '50rem' }"
          [paginator]="true"
          [rows]="10"
        >
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="serviceName">
                Название услуги <p-sortIcon field="serviceName"></p-sortIcon>
              </th>
              <th>Цена</th>
              <th>Действие</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-price>
            <tr>
              <td>{{ price.serviceName }}</td>
              <td>{{ price.price }}</td>
              <td>{{ price.duration }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <app-services></app-services>
  </div>
</div>
