<div class="professional__wrapper">
  <div class="professional">
    <div class="professional__heading">
      <div class="professional__content">
        <h2 class="professional__title">Профосмотры в Москве и области</h2>
        <div class="professional__tags-wrapper">
          <div class="tag__item">Для физических лиц</div>
          <div class="tag__item">Для юридических лиц</div>
          <div class="tag__item">Для мужчин</div>
          <div class="tag__item">Для женщин</div>
        </div>
        <div class="main__button" routerLink="/contacts">Наши контакты</div>
      </div>
      <div class="professional__img">
        <img src="assets/imgs/service-main.png" />
      </div>
    </div>
    <div class="price__section">
      <div class="price__title">
        <div class="title-dot"></div>
        Подробнее о услуге:
      </div>
      <div class="price__content">
        <div class="content__left">
          <div class="price__tags-wrapper">
            <div class="tag__item-blue">
              <img src="assets/icons/time.png" />от 15 минут
            </div>
            <div class="tag__item-blue">
              <img src="assets/icons/card.png" />Оплата картой через терминал
            </div>
            <div class="tag__item-blue">
              <img src="assets/icons/cash.png" />Оплата наличными
            </div>
            <!-- <div class="tag__item-blue">
              <img src="assets/icons/cash.png" />от 600 рублей
            </div> -->
          </div>
          <p>
            Мы проводим профосмотры для работников предприятий Москвы и области.
            Мы готовы стать вашим партнером — провести медосмотр по приказу
            29-н, который устанавливает медицинские критерии оценки здоровья
            работающих граждан.
          </p>
          <img src="assets/icons/arrow-button-white.png" class="arrow" />
        </div>
        <div class="content__right">
          <div class="price__download-title">Полный прайс лист</div>
          <a routerLink="/price" target="_blank"
            >Смотреть<img src="assets/buttons/btn-download.svg" alt=""
          /></a>
          <img src="assets/icons/arrow-button-dark.png" />
        </div>
      </div>
      <div class="price__title">
        <div class="title-dot"></div>
        Цены на услуги:
      </div>
      <div class="price__table">
        <p-table
          [value]="price"
          [tableStyle]="{ 'min-width': '50rem' }"
          [paginator]="true"
          [rows]="10"
        >
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="serviceName">
                Название услуги <p-sortIcon field="serviceName"></p-sortIcon>
              </th>
              <th>Цена</th>
              <th>Действие</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-price>
            <tr>
              <td>{{ price.serviceName }}</td>
              <td>{{ price.price }}</td>
              <td>{{ price.duration }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <app-services></app-services>
  </div>
</div>
