<div class="benefits__wrapper">
  <div class="benefits__title">
    <div class="title-dot"></div>
    Почему стоит воспользоваться нашими услугами?
  </div>
  <div class="benefits">
    <div class="benefits__row-1">
      <div class="benefits__item">
        <div class="benefits__item-title">1. Экономия времени</div>
        <div class="arrow"></div>
        <div class="benefits__item-text">
          Выполнение медицинского осмотра за 1 день (обход работником всех
          необходимых врачей и получение личной медицинской книжки)
        </div>
      </div>
      <div class="benefits__item">
        <div class="benefits__item-title">2. Все легально</div>
        <div class="arrow"></div>
        <div class="benefits__item-text">
          Легальность выдаваемых документов (соблюдаем все требования
          действующего законодательства)
        </div>
      </div>
      <div class="benefits__item">
        <div class="benefits__item-title">3. Наш персонал</div>
        <div class="arrow"></div>
        <div class="benefits__item-text">
          Достоверность информации и информативности обследования (осмотры
          ведутся врачами с большим опытом работы с осуществлением всех
          необходимых дообследований)
        </div>
      </div>
    </div>
    <div class="benefits__row-2">
      <div class="benefits__item">
        <div class="benefits__item-title">4. Выгода для Юр.лиц</div>
        <div class="arrow"></div>
        <div class="benefits__item-text">
          Выгодные условия сотрудничества с юридическими лицами (договор на
          регулярные освидетельствования в клинике и в рамках выездных
          мероприятий)
        </div>
      </div>
      <div class="benefits__item">
        <div class="benefits__item-title">5. Скорость</div>
        <div class="arrow"></div>
        <div class="benefits__item-text">
          Быстрая лабораторная диагностика и Взаимодействие с центром
          профпатологии и Роспотребнадзором
        </div>
      </div>
    </div>
  </div>
</div>
