<div class="benefits__wrapper">
  <div class="benefits__title">
    <div class="title-dot"></div>
    Почему стоит воспользоваться нашими услугами?
  </div>
  <div class="benefits">
    <div class="benefits__row-1">
      <div class="benefits__item">
        <div class="benefits__item-title">1. Экономия времени</div>
        <div class="arrow"></div>
        <div class="benefits__item-text">
          Выполнение медицинского осмотра за 1 день (обход работником всех
          необходимых врачей и получение личной медицинской книжки)
        </div>
      </div>
      <div class="benefits__item">
        <div class="benefits__item-title">1. Экономия времени</div>
        <div class="arrow"></div>
        <div class="benefits__item-text">
          Выполнение медицинского осмотра за 1 день (обход работником всех
          необходимых врачей и получение личной медицинской книжки)
        </div>
      </div>
      <div class="benefits__item">
        <div class="benefits__item-title">1. Экономия времени</div>
        <div class="arrow"></div>
        <div class="benefits__item-text">
          Выполнение медицинского осмотра за 1 день (обход работником всех
          необходимых врачей и получение личной медицинской книжки)
        </div>
      </div>
    </div>
    <div class="benefits__row-2">
      <div class="benefits__item">
        <div class="benefits__item-title">1. Экономия времени</div>
        <div class="arrow"></div>
        <div class="benefits__item-text">
          Выполнение медицинского осмотра за 1 день (обход работником всех
          необходимых врачей и получение личной медицинской книжки)
        </div>
      </div>
      <div class="benefits__item">
        <div class="benefits__item-title">1. Экономия времени</div>
        <div class="arrow"></div>
        <div class="benefits__item-text">
          Выполнение медицинского осмотра за 1 день (обход работником всех
          необходимых врачей и получение личной медицинской книжки)
        </div>
      </div>
    </div>
  </div>
</div>
