<div class="footer__wrapper">
  <div class="footer__map">
    <img src="assets/imgs/footer-map.png" />
  </div>
  <div class="footer">
    <div class="footer__logo"></div>
    <div class="footer__nav">
      <div class="footer__nav-title">Навигация</div>
      <ul>
        <ul class="footer__nav">
          <li><a href="" class="footer__nav-item">Наверх</a></li>
          <li><a href="" class="footer__nav-item">О нас</a></li>
          <li><a href="" class="footer__nav-item">Услуги</a></li>
          <li><a href="" class="footer__nav-item">Документы</a></li>
          <li><a href="" class="footer__nav-item">Контакты</a></li>
        </ul>
      </ul>
    </div>
    <div class="footer__popular-services">
      <div class="footer__nav-title">Услуги</div>
      <ul class="footer__nav">
        <ul class="footer__nav">
          <li>
            <a href="" class="footer__nav-item">Общеклинический анализ</a>
          </li>
          <li>
            <a href="" class="footer__nav-item">Биохимический анализ крови</a>
          </li>
          <li><a href="" class="footer__nav-item">Гормональный анализ</a></li>
          <li><a href="" class="footer__nav-item">Онкомаркеры</a></li>
          <li>
            <a href="" class="footer__nav-item">Микробиологический анализ</a>
          </li>
        </ul>
      </ul>
    </div>
    <div class="footer__help">
      <div class="footer__nav-title">Помощь</div>
      <ul class="footer__nav">
        <li><a href="" class="footer__nav-item">Лицензия</a></li>
        <li><a href="" class="footer__nav-item">29н</a></li>
        <li><a href="" class="footer__nav-item">988н</a></li>
      </ul>
    </div>
  </div>
</div>
