/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-cyan/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

/*
Prime NG OVerwritten
*/

.p-menuitem-text {
  color: rgb(0, 0, 0);
  font-family: Nunito !important;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: left;
  cursor: pointer;
  &:hover {
  }
}
.p-menubar-root-list > .p-menuitem-active > p-menubarsub > .p-submenu-list {
  width: 320px !important;
}
