/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-cyan/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

.main__button {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px 12px 16px;
  background: rgb(6, 153, 184);
  color: rgb(255, 255, 255);
  font-family: Manrope;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  width: fit-content;
  transition: all 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background: rgb(21, 131, 153);
  }
}

/*
Prime NG OVerwritten
*/

.p-menuitem-text {
  color: rgb(0, 0, 0);
  font-family: Nunito !important;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: left;
  cursor: pointer;
  &:hover {
  }
}
.p-menubar-root-list > .p-menuitem-active > p-menubarsub > .p-submenu-list {
  width: 320px !important;
}
