<div class="about__wrapper">
  <div class="about__title">
    <div class="title-dot"></div>
    О нашей клинике
  </div>
  <div class="about">
    <div class="about__heading-content">
      <div class="about__content-img">
        <img src="assets/imgs/about-heading.png" />
      </div>
      <div class="about__content-text">
        <div class="about__content-title">
          Медицинский центр <span class="highlighted">Амбулатория</span>
        </div>
        <div class="about__inner-content">
          Наш медицинский центр - это современное и качественное медучреждение,
          специализирующуюся на оформлении официальных медицинских справок для
          предоставления в различные учреждения, для работы или учёбы, а также
          для организации отдыха и прочих целей. Мы гарантируем прохождение всех
          специалистов и исследований в комфортных условиях без очередей и
          долгого ожидания.
        </div>
      </div>
    </div>
    <div class="about__secondary-content">
      <div class="about__content-left">
        <div class="about__content-title">
          <div class="about__content-title-lara">Работаем с</div>
          <div class="about__content-title-grey">2006</div>
        </div>
        <p class="about__content-text">
          После прохождения осмотра вы получите официальный документ,
          оформленный в соответствии с требованиями Минздрава России. Мы
          осуществляем свою деятельность в соответствии с медицинской лицензией.
          Поэтому полученные документы имеют официальное основание, они законны
          и действуют на территории всей страны при предоставлении в
          соответствующие организации.
        </p>
        <p class="about__content-text">
          Мы обслуживаем не только физические лица, но и юридические. Вся
          деятельность официальная и проходит только на основании составления
          официального договора. Мы предоставляем как в условиях нашего
          комфортного стационара, так и с выездом бригады специалистов к вам
          домой или по адресу вашей организации.
        </p>
      </div>
      <div class="about__content-right">
        <img src="assets/imgs/about-main.png" />
      </div>
    </div>
  </div>
  <div class="info__title">
    <div class="title-dot"></div>
    Отзывы
  </div>
  <div
    style="width: 740px; height: 400px; overflow: hidden; position: relative"
  >
    <iframe
      style="
        width: 100%;
        height: 100%;
        border: 1px solid #e6e6e6;
        border-radius: 8px;
        box-sizing: border-box;
      "
      src="https://yandex.ru/maps-reviews-widget/1125296924?comments"
    ></iframe
    ><a
      href="https://yandex.com/maps/org/ambulatoriya/1125296924/"
      target="_blank"
      style="
        box-sizing: border-box;
        text-decoration: none;
        color: #b3b3b3;
        font-size: 10px;
        font-family: YS Text, sans-serif;
        padding: 0 20px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
        left: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        max-height: 14px;
        white-space: nowrap;
        padding: 0 16px;
        box-sizing: border-box;
      "
      >Амбулатория на карте Москвы — Яндекс Карты</a
    >
  </div>
</div>
