<div class="documents__wrapper">
  <div class="documents__title">
    <div class="title-dot"></div>
    Правовая основа
  </div>
  <div class="documents">
    <p-card
      header="Приказ 29Н"
      subheader="Об утверждении Порядка проведения обязательных предварительных и периодических медицинских осмотров работников"
      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
      </ng-template>
      <p></p>
    </p-card>
    <p-card
      header="Приказ 29Н"
      subheader="Об утверждении Порядка проведения обязательных предварительных и периодических медицинских осмотров работников"
      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
      </ng-template>
      <p></p>
    </p-card>
    <p-card
      header="Приказ 29Н"
      subheader="Об утверждении Порядка проведения обязательных предварительных и периодических медицинских осмотров работников"
      [style]="{ width: '360px' }"
    >
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://primefaces.org/cdn/primeng/images/usercard.png"
        />
      </ng-template>
      <p></p>
    </p-card>
  </div>
</div>
