<div class="tests__wrapper">
  <div class="tests">
    <div class="tests__heading">
      <div class="tests__content">
        <h2 class="tests__title">Медицинские анализы</h2>
        <div class="tests__tags-wrapper">
          <div class="tag__item">ГЕМАТОЛОГИЧЕСКИЕ ИССЛЕДОВАНИЯ</div>
          <div class="tag__item">ЛЕКАРСТВЕННЫЙ МОНИТОРИНГ</div>
          <div class="tag__item">ИЗОСЕРОЛОГИЧЕСКИЕ ИССЛЕДОВАНИЯ</div>
          <div class="tag__item">БИОХИМИЧЕСКИЕ ИССЛЕДОВАНИЯ КРОВИ</div>
        </div>
        <div class="main__button" routerLink="/contacts">Наши контакты</div>
      </div>
      <div class="tests__img">
        <img src="assets/imgs/service-main.png" />
      </div>
    </div>
    <div class="price__section">
      <div class="price__title">
        <div class="title-dot"></div>
        Подробнее о услуге:
      </div>
      <div class="price__content">
        <div class="content__left">
          <div class="price__tags-wrapper">
            <div class="tag__item-blue">
              <img src="assets/icons/time.png" />от 30 минут
            </div>
            <div class="tag__item-blue">
              <img src="assets/icons/card.png" />Оплата картой через терминал
            </div>
            <div class="tag__item-blue">
              <img src="assets/icons/cash.png" />Оплата наличными
            </div>
            <!-- <div class="tag__item-blue">
              <img src="assets/icons/cash.png" />от 300 рублей
            </div> -->
          </div>
          <p>
            Ваше здоровье - наш приоритет, и мы предлагаем широкий спектр
            медицинских анализов, чтобы обеспечить вас самой актуальной
            информацией о вашем состоянии здоровья. В нашем медицинском центре
            вы найдете высококвалифицированных специалистов и современное
            оборудование, которые гарантируют точные и достоверные результаты
            анализов.
          </p>
        </div>
        <div class="content__right">
          <div class="price__download-title">Скачать прайс лист</div>
          <a download href="assets/tests_price.xlsx" target="_blank"
            >Скачать<img src="assets/buttons/btn-download.svg" alt=""
          /></a>
          <img src="assets/icons/arrow-button-dark.png" />
        </div>
      </div>
    </div>
    <app-services></app-services>
  </div>
</div>
